<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <link rel="stylesheet" href="menu_lateral.css">
</head>
<body>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>Deseja realmente sair?</p>
      <button id="confirmLogout">Sim</button>
      <button id="cancelLogout">Não</button>
    </div>
  </div>





    <div class="menu">
      <div class="logo">
        <img src="../img/logo-branca-horizontal 1.png" alt="logo">
      </div>
      <ul>
        <li>
          <a href="../index.html" target="_top">
            <i class="ph ph-users"></i>
            <p>Tenants</p>
        </a>
        </li>
        <li>
          <a href="../page/modulos/index.html" target="_top">
            <i class="ph ph-grid-nine"></i>
            <p>Módulos</p>
          </a>
        </li>
        <li>
          <a href="../page/relatorios/index.html" target="_top">
            <i class="ph ph-files"></i>
            <p>Relatórios</p>
          </a>
        </li>
        <li>
          <a href="../page/suporte/index.html" target="_top">
            <i class="ph ph-question"></i>
            <p>Suporte</p>
          </a>
        </li>
        <li>
          <button id="openModal">
            <i class="ph ph-sign-out"></i>
            <p>Sair</p>
          </button>
        </li>
      </ul>
    </div>

    <script src="modal.js"></script>

</body>
</html>