* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: gray;
  display: flex;
  justify-content: center;
}

.super-daddy {
  display: flex;
  background-color: #ffff;
  height: 100vh;
}

iframe {
  display: flex;
  justify-content: flex-start;
  z-index: 1;
  position: absolute;
  border: none;
  height: 100vh;
  width: 225px;
}

.direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
  margin-left: 245px;
  width: 1100px;
}

.justfy-content {
  border-left: 2px solid #13A166;
  border-right: 2px solid #13A166;
  border-bottom: 2px solid #13A166;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 1050px;
}

.end {
  margin-left: 268px;
  margin-bottom: 10px;
  color: #858585;
  font-size: 20px;
  font-weight: bold;
}

.cabecalho {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background: #13A166;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  
  color: white;
  font-size: 20px;
}

a {
  text-decoration: none; 
  color: inherit; 
  cursor: auto; 
}

.description {
  margin: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #858585;
 
}

.description .datas {
  flex-grow: 1;
  max-width: 25%;
}

.description .textao{
  flex-grow: 2;
  max-width: 45%;
}

.textao {
  display: flex;
  flex-wrap: wrap;
}

.textao span {
  height: 180px;
  overflow-y: auto;
}

.flex-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.flex-row p {
  margin-right: 5px;

}

.switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  width: 50px;
  height: 23px;
  border-radius: 22px;
  background-color: white;
}

.switch-boll {
  width: 20px;
  height: 20px;
  background-color: #13A166;
  border-radius: 50%;
  border: 1px solid white;
}

.listas-de-modulos {
  display: flex;
  margin-left: 22px;
  align-self: center;
  flex-direction: column; 
  width: 972px;
  height: 50vh;
  overflow-y: auto;
  color: #13A166;
  font-weight: bold;
}

.listas-de-modulos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.listas-de-modulos ul li {
  list-style: none;
  border-top: 40px solid #13A166; 
  border-right: 3px solid #13A166; 
  border-bottom: 3px solid #13A166; 
  border-left: 3px solid #13A166;
  width: 213px;
  height: 113px;
  border-radius: 8px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Estilos para o modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.modal-content p {
  color: #858585;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: initial;
  border: initial;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  font: 30px;
  font-weight: bold;
}

.desativar {
  background: #D9D9D9;
  color: #858585;
}

.cancelar {
  background: #13A166;
  color: white;
}

